body{
    margin: 0;
}

html {
    background-color: #E4E9FD;
    background-image: -webkit-linear-gradient(65deg, #B9E0FF 40%, #FFEFD6 55%);
    font-size: larger;
    min-height: 100%;
    text-align: center;
}

h1{
    color: #80489C;
    margin-top: 15%;
    margin-bottom: 5%;
}

a{
    text-decoration: none;
    background-color: #6C4AB6;
    border-style: none;
    border-radius: 10px;
    padding: 8px;
    text-align: center;
    font-size: 24px;
    color: white;
    transition-duration: 0.4s;
    font-family: 'Courier New', Courier, monospace;
}

a:hover{
    background-color: #8D72E1;
}

a:hover,a:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.2em);
}
