body{
    margin: 0;
    text-align: center;
    padding: 9.5% 28% 15% 30%; /*Update for Responsive*/
    font-family: 'Courier New', monospace;
}

html {
    background-color: #E4E9FD;
    background-image: -webkit-linear-gradient(65deg, #A683E3 40%, #E4E9FD 55%);
    font-size: small;
    min-height: 100%;
}

.box{
    background-color: rgb(201, 216, 235);
    height: 20rem;
    width: 20rem;
    border-radius: 5%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 10px 10px 5px rgb(68, 124, 143);
    /* padding: 5rem 1rem 2rem 1rem; */
}

button{
    background-color: rgb(67, 141, 226);
    border-style: none;
    border-radius: 10px;
    padding: 8px;
    font-size: 24px;
    color: white;
    transition-duration: 0.4s;
    font-family: 'Courier New', Courier, monospace;
}

button:hover{
    background-color: rgb(99, 160, 231);
}

input{
    background-color: rgb(201, 216, 235);
    border-color: #59afed;
    border-radius: 10px;
    width: 150px;
    height: 25px;
    margin-top: 68px;
    margin-bottom: 10px;
}

button:hover,button:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.2em);
}

h1{
    font-weight: 200;
    font-size: 45px;
}
